@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <a href="players" target="_blank" class="ml-md-auto">Indian Players</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
